<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods - Index</title>
</head>
<body>
    <h1>
        Welcome to gitpub- Foods
        <ul>
            <% for(let i = 0; i < allFoods.length; i++) { %>
            <li>
              <a href="/foods/<%=i%>"><%=allFoods[i].name %></a>
            </li>
            <% } %>
          </ul>
    </h1>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
          text-transform: capitalize;
        }
      </style>
</body>
</html>